[submodule "External/volk"]
	path = External/volk
	url = https://github.com/zeux/volk.git
[submodule "External/fltk"]
	path = External/fltk
	url = https://github.com/fltk/fltk.git
[submodule "External/pugixml"]
	path = External/pugixml
	url = https://github.com/zeux/pugixml.git
